/*@media screen and (max-width: 1200px){

   .cont-agrupar{
        width: 99%;

    }



    .grupo-responsive{
        width: 100%;
        border: 2px solid greenyellow;
    }

    .main-responsive{
        width: 100%;
    }


}
/*------------------------------------------------------------------------------------------------992px---------------*/
@media screen and (max-width: 992px){

    body{
        font-size: 12px;
    }   

    .cont-agrupar{
        width: 98%;

    }

    header .texto{
        letter-spacing: 1px;
        line-height: 0.9;
        
    }

    /*-------------------------------main-----*/
    .grupo-responsive .main-responsive .seccion-main{
        margin: 10px;

    }

    .seccion-main .articulos-varios{
        padding: 10px;
    }

/*--------------------------------------aside-----*/

    .columna{
        margin: 10px 0;
    }

}
/*-------------------------------------------------------------------------------------------------768px--------------*/
@media screen and (max-width: 768px){

    body{
            font-size: 12px;
        }

        header{
            height: 100vh;
        }

        header .texto{
        padding: 2px;
        }
        
        .grupo-responsive{
            display: flex;
            flex-direction: column;
            align-items: center;
           /* border: 1px solid blue;*/
            width: 100%;
            
            
        }

        .grupo-responsive .main-responsive{
            width: 100%;
            
        }


        .grupo-responsive .main-responsive .seccion-main{
            width: 100%;
            margin: auto;
        }

        .seccion-main .artículo1 .articulo-uno h1{
            font-size: 29px;
            margin-top: 10px;
        }

        .seccion-main .artículo1 .articulo-uno h2{
        font-size: 43px;
        margin-bottom: 10px;
        
        
        }

    /*-------------------------------------------------------------------articulos varios--*/
    .seccion-main .articulos-varios{
        padding: 5px;
        margin-bottom: 5px;
    }
        

    .seccion-main .articulos-varios i{
        font-size: 20px;
        padding-bottom: 15px;
    
    }

    .seccion-main .articulos-varios h1{
        font-size: 40px;
    }

    .seccion-main .articulos-varios h2{
        font-size: 25px;
    }

    .seccion-main .articulos-varios h2 p{
        font-size: 24px;
    }

    time{
        font-size: 18px;
        padding: 7px;
    }

    article .pie-articulos{
        font-size: 18px;
        margin-top: 15px;
        
    }
/*
    img{
        width: 200px;
        height: 200px;
       /* border: 2px solid  #fcf883;*/
        
    }

    /*--------------------------------------------------------------------aside----*/
    .grupo-responsive .aside-responsive{
            /*border: 2px solid orangered;*/
            width: 100%;
           /* margin: auto;*/
    }


    .aside-responsive .columna{
            width: 80%;
            margin: auto;
           /* margin: 40px 0px;*/
            font-size: 15px;
          /*  border: 3px solid purple;*/
    }

    .columna .cont-aside .serviciosCaninos h4{
            margin-bottom: 25px;
            font-size: 26px;
            letter-spacing: 1px;
    }

    .columna .cont-aside .serviciosCaninos .menu a{
            letter-spacing: 2px;
            padding: 2px;
            font-size: 24px;
            font-weight: lighter;
    }

    .serviciosCaninos  a{
            font-size: 16px;

    }

    .columna .cont-aside .codigo{
            width: 60%;
            /*border: 2px solid blue;*/
            margin: 20px auto;
        
    }

/*----------------------------------------------------------------------------footer-*/

    .footer-responsive{
            width: 100%;
    }

    .pie{
            padding: 5px;
            
    }

    .pie a i{
            letter-spacing: 1px;
            font-size: 40px;
            padding: 20px 40px 10px 0;
            
    }

    

/*-----------------------------------main----*/

    
/*--------------------------------------------------------------------------------------------------576px-------------*/
@media screen and (max-width: 576px){

    body{
        font-size: 6.2px;
    }

   .cont-agrupar{
    width: 100%;
    margin: auto;
   }

   img{
    width: 300px;
    height: 300px;
    border: 3px solid  #e00bef;
    
}


  
   .grupo-responsive .main-responsive .seccion-main{
    padding: 3px;
    }

    .aside-responsive .columna{
    width: 100%;
    margin: 30px 0px;
    font-size: 12px;
   /* border: 3px solid purple;*/
    }

    .columna .cont-aside .serviciosCaninos h4{
    margin-bottom: 25px;
    font-size: 24px;
    letter-spacing: normal;
    }

    .columna .cont-aside .serviciosCaninos .menu a{
    letter-spacing: 1px;
    padding: 2px;
    font-size: 22px;
    font-weight: lighter;
    }

    .serviciosCaninos  a{
    font-size: 18px;

    }

    .columna .cont-aside .codigo{
    width: 70%;
   /* border: 2px solid blue;*/
    margin: 20px auto;

    }

    .footer-responsive{
        width: 100%;
}

    .pie{
        padding: 10px;
        width: 100%;
        
    }

    .pie a i{
        letter-spacing: 1px;
        font-size: 40px;
        padding: 20px 40px 10px 0;
        
    }
   

}

    
/*--------------------------------------------------------------------------------------------------375px-------------*/
@media screen and (max-width: 375px){
    .texto{
        font-size: 16em;
    }

    .columna .cont-aside .codigo{
        width: 90%;
       /* border: 2px solid blue;*/
        margin: 20px auto;
    
        }
    

}



/*--------------------------------------------------------------------LANDSCAPE-----------------------------*/

/*---------------------------------------------------------------------------------------768px----------------------*/

@media screen and (max-height:768px) and (orientation: landscape){
   /* .hero{
        padding: 0px 20px;
    }*/

    .texto{
        font-size: 15em;
    }

    .columna .cont-aside .codigo img{
        width: 100%;
       
    
        }
    

}